.logo-div{
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}
.logo-div img{
    width: 50%;
    height: 50%;
    min-width: 600px;
    min-height: 600px;
    opacity: 0.2;
}
.parameter.fa-spin{
    animation: fa-spin 15s infinite linear;
}
.parameter.fa-spin:hover{
    animation-duration: 2s;
}
@media (max-width: 468px) {
    .logo-div img{
        height: 50px;
        min-width: 300px;
        min-height: 300px;
    }
    
}